body {
}

.panelbox
    {
        border:1px solid black;
        width: 400px;
        margin:auto;
        padding:20px;
        padding-bottom: 30px;
        text-align:center;
        }
        
 .pnlsignupform
 {
     border:1px solid black;
        width: 1000px;
        margin:auto;
        padding:10px;
        padding-bottom: 30px;
 }